---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		padding: 0.5rem 0.75rem;
		color: rgb(var(--gray-dark));
		font-weight: 500;
		transition: all 0.2s ease;
		position: relative;
	}

	a:hover {
		color: var(--accent);
	}

	a.active {
		font-weight: 700;
		color: var(--accent);
	}

	@media (min-width: calc(var(--tablet) + 1px)) {
		a.active::after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: 0.75rem;
			right: 0.75rem;
			height: 3px;
			background-color: var(--accent);
			border-radius: 3px 3px 0 0;
		}
	}
</style>
