---
import HeaderLink from "./HeaderLink.astro";
---

<div class="internal-links">
    <HeaderLink href="/discover">Discover</HeaderLink>
    <HeaderLink href="/code">Code</HeaderLink>
    <HeaderLink href="/create">Create</HeaderLink>
    <HeaderLink href="/automate">Automate</HeaderLink>
    <HeaderLink href="/journal">Journal</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
</div>
